<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="mainApp">
        <%- include('./partials/nav.ejs') %>
        <h1>Nice to meet you!</h1>
        <br>
        <p>My name is Samantha Thorne, and I live in Corner Brook Newfoundland and Labrador. Since I'm a recent graduate of Keyin College's Software Development program, I wanted to create this website to show off some of the skills I've learned so far and start a portfolio.</p>
        <br>
        <p>I chose a silly word generator as my first project to display my ability to work with JavaScript, node.js, express, and a PostgreSQL database. It also serves as a way to have a little laugh today, and maybe learn a new word or two! The database has a total of 50 silly words so far, so there's plenty to learn.</p>
        <br>
        <%- include('./partials/foot.ejs') %>
    </div>
    
    </body>
</html>