<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>Index Page</h1>
        <br>
        <h2>Welcome to the index page.</h2>
        <br>
        <p>To view my silly word generator, please click on the words link in the navigation bar.</p>
        <br>
        <p>To learn more about me, please click on the about link.</p>
        <br>
        <br>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>