<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="container"> 
        <h2 class="title">Silly Word Generator</h2>

            <p class="wordPhrase">Your sily word is: </p>
            <p class="sillyWord"> ${word.wordName}</p>
            <p class="defPhrase">Which means:</p>
            <p class="def"> ${word.definition}<p>
            <p class="moreWords">Want more words? Click the button again!</p>
            <button>Refresh</button>

    </div>
    
    
</body>
</html>