* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
   
  }

body {
    background-color: #dec4fc;
    background-image: url("../images/galaxy.jpeg");
    background-size: 100%;
    color: white;
}

.buttonLink {
    color: white;
}

.mainApp {
    border: 1px solid black;
    border-radius: px;
    max-width: 1500px;
    max-height: 1500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}

.container {
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(91,44,101,0.85);
    max-width: 800px;
    max-height: 850px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 28pt;
}



nav a:link, nav a:visited, button {
    width: 200px;
    height: 48px;
    background-color: #0a0825;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 16px;
    border: 1px solid white;
    border-radius: 24px;
}

nav a:hover {
    background-color: #957DAD;
    color: white;
    text-decoration: underline;
}

#wordGen, .aboutMe {
    max-width: 400px;
    min-height: 480px;
    background-color: white;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid black;
    border-style: double;
    border-radius: 25px;
}

.aboutMe {
    min-height: 640px;
    padding-bottom: 10px;
    margin-left: 50px;
}

.aboutMeTitle {
    margin-left: 50px;
}
.aboutMePara {
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
    width: 420px;
    height: 180px;
    font-size: 16pt;
}

.aboutMeImg {
    height: 500px;
    width: 500px;
    margin: 20px auto;
    margin-right: 160px;
    padding: 5px;
    border: 1px solid black;
    background-image: url("./images/profile.png");
    float:right;
}

.title {
    margin: 10px 20px;
    padding: 15px;
    color: #09081a;
    font-weight: bolder;
    font-size: 28pt;
}

.instructions {
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 10px;
}

.wordPhrase, .sillyWord, .defPhrase, .def {
    margin: 20px;
    color: #ae9bcd;
    font-weight: bolder;
    font-size: 16pt;
}
.sillyWord, .def {
    color: #09081a;
    font-weight: 700;
    font-size: 2rem;
}

.def {
    height: 120px;
    width: 300px;
    margin: 20px auto;
}

.moreWords{
    margin: 50px 100px;
    color: #ae9bcd;
    font-weight: bold;
    font-size: 16pt;
}


.buttonWrapper {
    text-align: center;
}

#btn {
    color: white;
    background-color: black;
    border-radius: 15px;
    border: none;
    padding: 10px 10px;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
}

footer {
    margin-top: 80px;
}

a:link, a:visited {
    color: black;
    cursor: pointer;
}

a:hover {
    color: white;
}

